<footer op-60>
  <p mt-6 text-sm text-slate>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://aigc101.net" target="_blank"
    >
      Home
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code(Made by ddiu)
    </a>
  </p>
</footer>